body {
  margin: 0;
  padding: 0;
  width: 100%; 
}

.logo{
  width: 35px;
  float: right;
}

.empresa{
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav {
    background-color: #282727;
    overflow: hidden;
    list-style: none;
    font-weight: bold;
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
    
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #bebfa3;
  color: white;
}
/*#FEFFD7*/

/*Footer*/
.footer{
    width: 100%;
    padding:40px 0;
    background-color:#282727;
    color:#96b1cc;
}

.footer ul {
  padding:0;
  list-style:none;
  text-align:center;
  font-size:18px;
  line-height:1.6;
  margin-bottom:0;
}

.footer li {
    display:inline;
    padding:0 10px;
}

.footer ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
}

.footer ul a:hover {
    opacity:1;
}

.footer .copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color:#aaa;
    margin-bottom:0;
}

/*Cartão de produtos*/

.card_center{
  top: 50%;
  left: 50%;
}

.prod_card{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.prod_card li{
  float: left;
}

.prod_card li+li{
  margin-left: 15px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 200px;
  margin: auto;
  text-align: center;
  font-family: arial;
  background-color: #eaeadd;
}

.price {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:not(.not-red) {
  background-color: #af1a1a;
}



.card button:hover {
  opacity: 0.7;
}